
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Outfit&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,700&family=Roboto:wght@300;400;500;900&family=Urbanist:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:ital,wght@0,100;0,300;0,600;0,700;0,900;1,100&family=Outfit&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,700&family=Roboto:wght@300;400;500;900&family=Urbanist:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:ital,wght@0,100;0,300;0,600;0,700;0,900;1,100&family=Outfit&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,900;1,200;1,700&family=Roboto:wght@300;400;500;900&family=Urbanist:wght@100&display=swap');

body{
    background-color: white;
    
}
.header_menu img{
    height: 120px;
    width: 120px;
    margin-top: 5px;
}
.header_menu{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
  padding-left: 40px;
  padding-right: 30px;
  background-color: white;
  border: 0.5px solid grey;
}
.header_menu a{
    color: #0479A9;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 55px;
    margin-right: 30px;
}
.header_menu button{
    display: none;
    float: right;
    line-height: 80px;
    cursor: pointer;
}
.header_menu a:hover{
    color: black;
}

.content{
    margin-top: 190px;
}
.content h1{
    color : #0479A9 ;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.content h2{
    color : rgb(233, 153, 5);
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.content p{
    color: rgba(0, 0, 0, 0.604);
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.df{
    margin-top: 1px;
}
.link_contact{
    color: gray;
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 600;
}
.link_contact a{
    color: gray;
    text-decoration: underline;
    font-weight: 500;
    font-family: 'Poppins';
}
.care{
    display: flex;
    background-color: white;
    height: 7rem;
    border: 0.1px solid gray;
    padding-top: 40px;
    padding-left: 70px;
    margin-top: 50px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 900;
    color: #0479A9;

}
.careu{
    padding-left: 20px;
}
.careu p{
    font-weight: 0px;
}
.care a{
    color: blue;
    font-weight: 700;
}
.me{
    height: 33rem;
    background-color: #46B1E5;
    display: flex;
    justify-content: space-evenly;
   
}
.just_us{
    padding-top: 100px;
}
.just_us h1{
    color: white;
    padding-top: 60px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    
}
.mobileflex{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.just_us p{
    color: rgba(255, 255, 255, 0.843);
    padding-top: 10px;
    font-size: 19px;
    font-family: 'Montserrat'
}
.first_cont{
    margin-top: 10px;
    border-radius: 20px;
    padding: 20px 30px ;
    height: 14rem;
    width: 12rem;
    background-color: white;
    color: black;
}
.first_cont h1{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat'
}
.k1{
    text-align: center;
    color: green;
    padding-top: 10px;
    margin-top: 30px;
    height: 40px;
    width: 39px;
    border-radius: 10px;
    background-color: rgba(0, 128, 0, 0.452);
}
.k1 h6{
    text-align: center;
    padding-top: 13px;
    color: green;
    font-family: 'Montserrat'
}

.second_cont{
    margin-top: 10px;
    border-radius: 20px;
    padding: 20px 30px ;
    height: 14rem;
    width: 12rem;
    background-color: #0479A9;
    color: white;
}
.second_cont h1{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat'
}
.k2{
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
    height: 40px;
    width: 39px;
    border-radius: 10px;
    background-color: #46b0e593;
}
.k2 h6{
    text-align: center;
    padding-top: 13px;
    color:white ;
    font-family: 'Montserrat'
}

.third_cont{
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px 30px ;
    height: 14rem;
    width: 12rem;
    background-color: white;
    color: black;
}
.third_cont h1{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat'
}
.k3{
    text-align: center;
    color: red;
    padding-top: 10px;
    margin-top: 30px;
    height: 40px;
    width: 39px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.466);
}
.k3 h6{
    text-align: center;
    padding-top: 13px;
    color: red;
    font-family: 'Montserrat'
}
.flex{
    padding-top: 30px;
    margin-left: 15rem;
}
.free_container{
    margin-top: 50px;
}
.free_container h1{
    text-decoration: underline;
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Montserrat';
    color: #0479A9;
}
.free_container p{
    padding-left: 12px;
    padding-right: 17px;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Montserrat';
    color: #19617df4;
}
.contact_container{
    background-color: #46B1E5;
    height: 20rem;
    border: 0.5px solid white;
    text-align: center;

}
.qt{
    margin-top: 30px;
    display: flex;
    padding-top: 40px;
    justify-content: center;
}
.qt h1{
    color: #9DD7F2;
    margin-top: -5px;
}
.qt p{
    color: white;
    font-size: 30px;
    margin-top: -2px;
    padding-left: 5px;
    font-family: 'Montserrat';
    font-weight: 400;
}
.q_content{
    margin-top: 10px;
    color: white;
    font-size: 20px;
    padding-left:30px;
    font-family: 'Montserrat';
    font-weight: 300;
}
.qt_contactus{
    margin-top: 30px;
    margin-left: 32px;
}
.qt_contactus a{
    color:#047aa9bd ;
    background-color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', 'sans-serif';
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.qt_contactus a:hover{
    color: white;
    background-color: #0479A9;
}

.conten{
    margin-top: 100px;
}
.conten h1{
    color : #0479A9 ;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.conten h2{
    color : rgb(233, 153, 5);
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.conten p{
    color: rgba(0, 0, 0, 0.326);
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.link_contac{
    color: gray;
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 600;
}
.link_contac a{
    color: gray;
    text-decoration: underline;
    font-weight: 500;
    font-family: 'Poppins';
}


@media screen and (max-width:1080px){
    .content{
        margin-top: 160px;
        
    }
    .content h1{
        color : #0479A9 ;
        font-size: 24px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    .content h2{
        color : rgb(233, 153, 5);
        font-size: 10px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .link_contact{
        margin-bottom: 40px;
    }
    .content p{
        color: rgba(0, 0, 0, 0.604);
        margin-top: 10px;
        font-size:10px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    .header_menu img{
        height: 80px;
        width: 80px;
        margin-top: 5px;
    }
    /*.header_menu button{
        display: block;
        
    }*/
    /*.header_menu button:checked{
        left: 0;
    }*/
    .header_menu{
      position: fixed;
      display: flex;
      top: 0;
      padding-left: 40px;
      padding-right: 30px;
      background-color: white;
      border: 0.5px solid grey;
    }
    /*.header_menu a{
        position: fixed;
        height: 100vh;
        background-color: white;
        width: 100%;
        top: 80px;
        transition: all .5s;
        left: 0%;
        text-align: center;
    }*/

    .care{
        display: flex;
        background-color: white;
        height: 7rem;
        border: 0.1px solid gray;
        padding-top: 35px;
        padding-left: 20px;
        margin-top: 50px;
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 900;
        color: rgba(0, 0, 0, 0.689);
    
    }
    .careu{
        padding-left: 20px;
    }
    .care a{
        color: blue;
        font-weight: 700;
    }
    .careu p{
        letter-spacing: 2px;
    }
    .me{
        display: inline-block;
        padding-top: 1px;
        height: 37rem;
        width: 100%;
    }
    .just_us{
        padding-top: 0px;
    }
    .just_us p{
        margin-left: 10px;
        font-size: 12px;
    }
    .just_us h1{
        margin-left: 10px;
        font-size: 18px;
    }
    .flex{
        margin-left: 20px;
    }
    .mobileflex{
        margin-top: 1px;
        align-items: center;
    }
    .first_cont{
        margin-left: 60px;
        margin-top: 10px;
        border-radius: 20px;
        padding: 20px 30px ;
        height: 11rem;
        width: 10rem;
        background-color: white;
        color: black;
    }
    .first_cont h1{
        margin-top: 10px;
        font-size: 15px;
        font-weight: 600;
        font-family: 'Montserrat'
    }
    .k1{
        text-align: center;
        color: green;
        padding-top: 9px;
        margin-top: 28px;
        height: 40px;
        width: 39px;
        border-radius: 10px;
        background-color: rgba(0, 128, 0, 0.452);
    }
    .k1 h6{
        text-align: center;
        padding-top: 13px;
        color: green;
        font-family: 'Montserrat'
    }

    .second_cont{
        margin-top: 10px;
        border-radius: 20px;
        padding: 20px 30px ;
        height: 11rem;
        width: 10rem;
        background-color: #0479A9;
        color: black;
    }
    .second_cont h1{
        margin-top: 10px;
        font-size: 15px;
        font-weight: 600;
        font-family: 'Montserrat'
    }
    .k2{
        text-align: center;
        padding-top: 9px;
        margin-top: 28px;
        height: 40px;
        width: 39px;
        border-radius: 10px;
        background-color: #46b0e593;
    }
    .k2 h6{
        text-align: center;
        padding-top: 13px;
        color: green;
        font-family: 'Montserrat'
    }
    .third_cont{
        visibility: hidden;
    }
    .df{
        margin-top: -4px;
    }
    
}
